@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1f1e48] text-slate-100;
  }

  header {
    @apply bg-slate-800 text-slate-100;
  }

  h2 {
    @apply mt-4 text-xl font-bold;
  }
}
